<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="apps-accessories-menu" label="Accessories">
  <item label="Calculator">
    <action name="Execute">
      <command>gnome-calculator</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="File Archiver">
    <action name="Execute">
      <command>file-roller</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="Editors">
  <item label="Sublime Text">
    <action name="Execute">
      <command>subl3</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="LibreOffice">
    <action name="Execute">
      <command>libreoffice</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Google Chrome">
    <action name="Execute">
      <command>google-chrome-stable</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Chrome</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-virt-menu" label="Virtualization">
  <item label="Virtual Manager">
    <action name="Execute">
      <command>virt-manager</command>
    </action>
  </item>
  <item label="VirtualBox">
    <action name="Execute">
      <command>virtualbox</command>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="Spotify">
    <action name="Execute">
      <command>spotify</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Video Lan Player">
    <action name="Execute">
      <command>vlc</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Graphics">
  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Look and Feel">
    <action name="Execute">
      <command>lxappearance</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Monitor Setup">
    <action name="Execute">
      <command>lxrandr</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  
  <item label="Terminal">
    <action name="Execute">
	     <command>urxvt</command>
    </action>
  </item>
  
  <item label="File Manager">
    <action name="Execute">
	<command>thunar</command>
        <startupnotify>
	  <enabled>yes</enabled>
        </startupnotify>
    </action>
  </item>

  <menu id="apps-accessories-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-virt-menu"/>
  <menu id="apps-editors-menu"/>
  <menu id="apps-multimedia-menu"/>
  <menu id="apps-graphics-menu"/>
  <separator label="System" />
  <menu id="system-menu"/>
  <separator />
  
  <item label="Reboot">
    <action name="Execute">
        <prompt>
            Are you sure you want to reboot?
        </prompt>
        <execute>
            sudo shutdown -r now
        </execute>
    </action>
  </item>

  <item label="Hibernate">
    <action name="Execute">
      <prompt>
        Are you sure you want to hibernate?
      </prompt>
      <execute>
          sudo systemctl hibernate
      </execute>
    </action>
  </item>

  <item label="Shutdown">
    <action name="Execute">
        <prompt>
            Are you sure you want to shutdown?
        </prompt>
        <execute>
            sudo shutdown -h now
        </execute>
    </action>
  </item>
  
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>

</menu>

</openbox_menu>
